#head {
  height: 400px;
  width: 100%;
  background-color: #e9d9af;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}

#avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: initial;
  padding-top: 5.5em;
  flex-direction: column;
 
}

h2 {
  margin:0em;
}