/* styles for under desktop screen size 
styles for nav bar */

#nav {
  display:flex;
  width: 100%;
  font-family: 'Bungee';
  height: 120px;
  background-color: #4056A1;
  color:white;
  border-radius: 5px;
  position: fixed;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Bungee';
  margin: 1.5em;
  font-size: xxx-large;
  
}

.write-new {
  display: flex;  
  flex-basis: 100%;
  font-family: 'Source Sans Pro';
  align-content: center;
  margin:1.5em;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.angles {
  flex-basis: 100%;
  display:flex;
  justify-content: end;
  margin-right: 3em;
  color:red
}

.link {
  color:inherit;
  text-decoration: none;
}

/* style changes for screens over 1024px */

@media screen and (max-width:1024px) {
  #nav {
    background-color: #fcd268;
  }

  .title {
    margin:.5em;
    font-size:x-large;
  }

  .write-new {
    margin:.5em;
    font-size: large;
  }
}