/* styles for under desktop screen size */

.new-tweet {
  justify-content: center;
  align-content: center;
  padding-top: 1.5em;
}

#tweet-text {
  width: 100%;
  margin:auto;
  background-color: #e9d9af;
  border: 50px;
}

#tweet-text::placeholder {
  margin: auto;
  font-size: xx-large;
  font-weight: bold;
}

textarea#tweet-text {
  border-bottom: 3px solid black;
  padding-bottom: 2px;
}

.tweet-btn {
  background-color:#4056A1; 
  color:white;
  font-family: "Bungee";
  border: 0px;
}

.tweet-btn:hover {
  cursor: pointer;
}


.btn-counter {
  display:flex;
  justify-content: space-between;
}

.counter {
  font-family: "Bungee";
}

#error-box {
  border: 10px;
  border-style: solid;
  border-color: red;
  height: fit-content;
  margin: 1em
}

#error-message {
  word-wrap: break-word;
  margin: 1em;
  color:red
}

/* style changes for screens over 1024px */

@media screen and (min-width: 1024px) {
  .new-tweet {
    padding-top: 5.5em

  }
}

@media screen and (min-width:350px) {
  #tweet-text::placeholder {
    font-size:x-large;
    
  }
}
/* 
@media screen and (max-width: 768px) {
  .new-tweet {
    padding-top: 1.5em;
  }
} */